<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xdys.yhyg">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--检查wifi网络状态-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--检查网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--切换网络通道-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--开关wifi状态，解决国内机型移动网络权限问题需要-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 文件读取 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/appTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,LockedOrientationActivity"
        tools:targetApi="m">

        <activity
            android:name=".ui.home.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.SearchActivity"
            android:label="@string/search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.goods.GoodsDetailActivity"
            android:label="@string/goods_detail"
            android:screenOrientation="portrait">
            <!-- scheme协议 -->
            <intent-filter>
                <data
                    android:host="yhyg"
                    android:path="/goodsDetail"
                    android:scheme="xdys" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.CommodityTypeActivity"
            android:label="@string/spike_special"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.classify.SingleCategoryActivity"
            android:label="单类商品"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.BrandZoneActivity"
            android:label="@string/brand_zone"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.BrandZoneListActivity"
            android:label="@string/brand_zone"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mall.EntityListActivity"
            android:label="附近门店"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mall.BusinessDetailsActivity"
            android:label="@string/business_details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mall.CheckoutCounterActivity"
            android:label="@string/checkout_counter"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mall.PaymentStatusActivity"
            android:label="@string/checkout_counter"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.ShopkeeperCenterActivity"
            android:label="@string/shopkeeper_center"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.order.MyOrderActivity"
            android:label="@string/my_order"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.order.OrderDetailActivity"
            android:label="@string/order_detail"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.AddressActivity"
            android:label="@string/address_management"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.MessageNotificationActivity"
            android:label="@string/message_notification"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.MallActivitiesActivity"
            android:label="@string/mall_activities"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.FeedbackActivity"
            android:label="@string/feedback"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.order.PostReviewActivity"
            android:label="@string/post_review"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.LatestAnnouncementActivity"
            android:label="@string/latest_announcement"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.DiscountCouponActivity"
            android:label="@string/discount_coupon"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.TransactionNotificationActivity"
            android:label="@string/transaction_notification"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.LogisticsNoticeActivity"
            android:label="@string/logistics_notice"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.FeedbackAddActivity"
            android:label="@string/feedback"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.CollectionActivity"
            android:label="@string/my_collection"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.setting.SetActivity"
            android:label="@string/setting"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.setting.PersonalInformationActivity"
            android:label="@string/personal_information"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.setting.ChangeNicknameActivity"
            android:label="@string/change_nickname"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.setting.AccountSecurityActivity"
            android:label="@string/account_security"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.setting.AuthenticationActivity"
            android:label="@string/verified"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.setting.CertificationCenterActivity"
            android:label="@string/certification_center"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.setting.PersonalDetailsActivity"
            android:label="@string/personal_information"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.setting.ChangeMobileActivity"
            android:label="@string/change_mobile"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.setting.ChangePaymentPasswordActivity"
            android:label="@string/change_payment_password"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.setting.PaymentPasswordActivity"
            android:label="@string/payment_password"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.setting.ChangeLoginPswActivity"
            android:label="@string/change_login_psw"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.setting.EquipmentManagementActivity"
            android:label="@string/equipment_management"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.setting.DeviceDetailActivity"
            android:label="@string/device_detail"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.setting.ModifyDeviceNameActivity"
            android:label="@string/modify_device_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.setting.AccountLogoutActivity"
            android:label="@string/account_logout"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.LineIntegralActivity"
            android:label="@string/online_points"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.MerchantSettledActivity"
            android:label="@string/merchant_settled"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.OnlineMerchantSettledActivity"
            android:label="@string/online_merchants_settled"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.OfflineMerchantSettledActivity"
            android:label="@string/offline_merchants_settled"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.MyBalanceActivity"
            android:label="@string/my_balance"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.WithdrawalActivity"
            android:label="@string/withdraw"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.MyCouponsActivity"
            android:label="@string/my_card_voucher"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.MyTeamActivity"
            android:label="@string/my_team"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.sale.RequestRefundActivity"
            android:label="@string/request_refund"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.sale.ProgressDetailsActivity"
            android:label="@string/progress_details"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.sale.ServiceOrderDetailsActivity"
            android:label="@string/service_order_details"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.sale.ReturnAfterSaleActivity"
            android:label="@string/return_after_sale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sale.ChooseAfterSalesActivity"
            android:label="@string/choose_after_sales"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.sale.ViewSolutionActivity"
            android:label="@string/view_solution"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.order.ConfirmOrderActivity"
            android:label="@string/confirm_order"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.CouponCenterActivity"
            android:label="@string/get_coupons_center"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.FlashSaleActivity"
            android:label="限时抢购"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.setting.AboutActivity"
            android:label="@string/about_app"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.web.WebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

    <queries>
        <!-- com.blankj.utilcode SDK检测虚拟机-->
        <intent>
            <action android:name="android.intent.action.DIAL" />
        </intent>

        <!-- 微信支付SDK-->
        <package android:name="com.tencent.mm" />
        <!-- 支付宝支付SDK-->
        <package android:name="com.eg.android.AlipayGphone" />
    </queries>
</manifest>
